{% extends "Base/base.html" %}

{% load bootstrap5 %}

{% block titulo %}
    Atualizar
{% endblock %}

{% block diretorio_raiz %}
    Fazenda
{% endblock %}

{% block diretorio %}
    Produção
{% endblock %}

{% block conteudo %}
<div class="card">
    <div class="card-header pb-0 px-3">
      <h6 class="mb-0">Produção: {{object.nome}}</h6>
    </div>
    <div class="card-body pt-4 p-3">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-info" type="submit" value="Atualizar">
        </form>
    </div>
  </div>
    
{% endblock %}
