{% extends "Base/base.html" %}

{% block titulo %}
    Minhas produções
{% endblock %}

{% block conteudo %}
<table id="tabela_producoes" class="table" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Nome</th>
        <th class="th-sm">Observação</th>
        <th class="th-sm"></th>
      </tr>
    </thead>
    <tbody>
        {% for producao in lista %}
            <tr id="usuario_{{usuario.pk}}">
                <td> {{producao.nome}} </td>
                <td> {{producao.observacao}} </td>
                <td align="center">
                    <button type="submit" class="btn btn-success btn-circle btn-lg" title="Visualizar" >
                      <i class="fa-solid fa-pen"></i>
                    </button>
                    <button type="submit" class="btn btn-primary btn-circle btn-lg" title="Editar" >
                      <i class="fa-solid fa-pen"></i>
                    </button>
                    <button type="submit" class="btn btn-danger btn-circle btn-lg" title="Deletar">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {
    $('#tabela_producoes').DataTable( {
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        },
        "columnDefs": [ {
          "targets": 2,
          "orderable": false
          } ]
    } );
  });
</script>
{% endblock %}